/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #7D9100;
}

footer {
    text-align: center;
    font-weight: bold;
    font-family: Palatino, Georgia, "Times New Roman", Times, serif;
}

.header-container,
.main aside,
.full-main aside {
    background: #C9DE55;
}

aside {
    visibility: hidden;
    display: none;
}

.title {
    color: #333333;
    text-decoration: underline;
    font-family: 'Lobster', cursive;
    /* Fixes cut off font */
    padding-left: 3px;
    text-rendering: optimizelegibility;
}

h1.title small {
    text-decoration: none !important;
    text-shadow: 0 0 0 !important;
}

hr {
    border: 0px;
    border-bottom: 1px solid #F0F0F0;
    margin-left: 10%;
    margin-right: 10%;
}

hr.green {
    border-bottom: 1px solid #7D9100;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 5px;
    padding: 10px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #7D9100;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
    background: #333333;
}

nav ul li {
    display: inline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
    font-family: Palatino, Georgia, "Times New Roman", Times, serif;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    padding: 0px 5% 10px;
    display: none;
    visibility: hidden;
}

.full-main aside {
    padding: 0px 5% 10px;
    display: none;
    visibility: hidden;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

    /* ====================
        INTERMEDIATE: Menu
       ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        margin-top: 10px;
        padding: 15px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    /* ========================
        INTERMEDIATE: IE Fixes
       ======================== */

    .nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }

    .main aside {
        visibility: visible;
        border-top: 20px solid #7D9100;
        color: black;
        padding: 0px 5% 10px;
        display: block;
    }

    .full-main aside {
        visibility: visible;
        border-top: 20px solid #7D9100;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        margin-left: 25px;
        margin-top: 25px;
        margin-bottom: 15px;
        display: block;
        align: right;
    }

    .full-main article {
        margin: 0 auto;
        width: 80%;
    }
}

@media only screen and (min-width: 768px) {

    /* ====================
        WIDE: CSS3 Effects
       ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }

    .full-main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }

    /* ============
        WIDE: Menu
       ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

    /* ============
        WIDE: Main
       ============ */

    .main article {
        float: left;
        width: 65%;
    }

    .main aside {
        float: right;
        width: 23%;
    }

    .full-main aside {
        float: right;
        width: 23%;
    }
}

@media only screen and (min-width: 1140px) {

    /* ===============
        Maximal Width
       =============== */

    .wrapper {
        width: 85%;
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.has-options {
    border-bottom: 20px solid #7D9100;
    padding: 25px;
}

.page-wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -90px;
}

.definition {
    font-family: Palatino, Georgia, "Times New Roman", Times, serif;
}

p.copyright {
    font-weight: normal !important;
    font-size: 0.7em;
    line-height: 15px !important;
    padding-bottom: 25px;
}

h1.error-title {
    font-size: 7em;
    text-align: center;
}

h2.error-sub {
    text-align: center;
}

p.error-desc {
    text-indent: 20px;
}

.subtle {
    color: #333 !important;
    text-decoration: none !important;
}

form.login {
    margin: 0px auto;
}